<div class='application-navbar'>
  <a class='application-title' href='/'>Diner Tinder</a>

  <nav class='navbar-links'>
    <LinkTo class='navbar-link recipes-link' @route='recipes'>
      Recipes
    </LinkTo>
  </nav>
</div>

<div class='main-page'>
  {{outlet}}
</div>


